<mat-sidenav-container class="full-height">

  <mat-sidenav #sidenav fxLayout="column">
    <div class="sidenav-banner"></div>
    <mat-nav-list>
      <mat-list-item *ngFor="let route of routes" [routerLink]="['/'+route.path]" routerLinkActive="active" (click)="sidenav.toggle()">
        <mat-icon mat-list-icon [svgIcon]="route.data?.icon"></mat-icon>
        <h4 mat-line>{{ route.data?.name | translate }}</h4>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary" class="mat-elevation-z1 main-navbar" fxLayout="row" fxLayoutAlign="space-between center">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon svgIcon="menu"></mat-icon>
      </button>
      <div>
        <button mat-button [matMenuTriggerFor]="menu">
          <!-- <img class="img-avatar mat-elevation-z1" src="assets/images/material-letter-icons/J.png"> -->
          Juan Dela Cruz
          <mat-icon svgIcon="menu-down"></mat-icon>
        </button>

        <mat-menu #menu="matMenu" yPosition="below" [overlapTrigger]="false">
          <button mat-menu-item [routerLink]="['/account-settings']">
            <mat-icon svgIcon="account-circle"></mat-icon>
            <span>{{ 'ACCOUNT_SETTINGS' | translate }}</span>
          </button>
          <button mat-menu-item (click)="logout()">
            <mat-icon svgIcon="logout-variant"></mat-icon>
            <span>{{ 'LOGOUT' | translate }}</span>
          </button>
        </mat-menu>
      </div>
    </mat-toolbar>

    <div fxLayout="column">
      <router-outlet></router-outlet>
    </div>

    <div fxLayout="column">
      <esc-footer></esc-footer>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>