<div fxFlex style="width: -webkit-fill-available;">
  <split disabled="true" gutterSize="5" useTransition="true">

    <split-area size="50" order="0" [visible]="!(media.isActive('lt-md') && emittedData)"
      [class.hideList]="(media.isActive('lt-md') && emittedData)">

      <esc-user-header #header (emitData)="onHeaderEmit($event)">
      </esc-user-header>
    </split-area>

    <split-area size="50" order="1" [visible]="!(media.isActive('lt-md') && !emittedData)">
      <esc-user-detail [header]="header" [selectedData]="emittedData" (onClose)="clearData()"></esc-user-detail>
    </split-area>
  </split>
</div>