@import "./../../../styles";
@include mat-core();

div.login {
    .logo{
        width:75%;
        height:auto;
        margin:auto;
    }
    background: url($background-url),linear-gradient(to right,mat-color($my-theme-primary),mat-color($my-theme-secondary));
    form {
        h2{
            text-align: center;
            font-weight: bold;
            color:rgb(12, 85, 196);
        }
        

    }
}

