$background-url : '.../assets/images/polygon-background.png';

div.login {
    background: url('../../../assets/images/polygon-background.png'),linear-gradient(to right,#0FD1BF,#0FDF10);
    form {
        background-color: white;
    }
}