<form [formGroup]="form" (submit)="onSubmit(form.getRawValue())" novalidate autocomplete="off" autocorrect="off">
  <div fxLayout="column" fxFlexFill>
    <div>
      <mat-toolbar fxLayout="row" style="text-align:left">
        <button mat-icon-button [matTooltip]="'CLOSE' | translate" (click)="close()" type="button">
          <mat-icon svgIcon="close"></mat-icon>
        </button>
        <span fxFlex></span>
        <span class="mat-detail-header text-align-center">
          <!-- {{ selectedData.id ? selectedData.name : 'Add User' }} -->
          {{ 'DETAILS' | translate }}
        </span>
        <span fxFlex></span>
        <button mat-icon-button [matTooltip]="'SAVE' | translate" type="submit" style="text-align:right">
          <mat-icon svgIcon="check"></mat-icon>
        </button>
      </mat-toolbar>
    </div>

    <div style="overflow: auto" *ngIf="selectedData">
      <div class="form-container padding-25" fxLayout fxFlexFill fxLayoutGap="50px">

        <div fxFlex fxLayout="column" fxLayoutGap="20px">
          <!-- <mat-form-field>
            <input matInput [placeholder]="'ACCOUNT' | translate" (focus)="getInitialOptionValues('principal', 'principalACTr')" formControlName="principal" [matAutocomplete]="principalAC" #principalSearch required>

            <mat-autocomplete (opened)="autocompleteScroll('principal', 'principalACRef','principalACTr')"
              (closed)="autoCmpltClosed('principal')" #principalAC="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="loading.principalSearch" disabled>{{ 'SEARCHING' | translate }}</mat-option>
              <mat-option *ngFor="let data of principalOptions" [value]="data">
                {{ data?.name }}
              </mat-option>
              <mat-option *ngIf="!loading.principalSearch && principalOptions.length == 0" disabled>{{ 'MESSAGE_INFO_NO_RESULT_FOUND' | translate }}</mat-option>
            </mat-autocomplete>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="'ROLE' | translate" (focus)="getInitialOptionValues('role', 'roleACTr')" formControlName="role" [matAutocomplete]="roleAC" #roleSearch required>

            <mat-autocomplete (opened)="autocompleteScroll('role', 'roleACRef','roleACTr')"
              (closed)="autoCmpltClosed('role')" #roleAC="matAutocomplete" [displayWith]="displayFn">
              <mat-option *ngIf="loading.roleSearch" disabled>{{ 'SEARCHING' | translate }}</mat-option>
              <mat-option *ngFor="let data of roleOptions" [value]="data">
                {{ data?.name }}
              </mat-option>
              <mat-option *ngIf="!loading.roleSearch && roleOptions.length == 0" disabled>{{ 'MESSAGE_INFO_NO_RESULT_FOUND' | translate }}</mat-option>
            </mat-autocomplete>
          </mat-form-field> -->

          <mat-form-field>
            <input matInput [placeholder]="'CODE' | translate" formControlName="preferred_username" required>
            <mat-error *ngIf="form.controls['preferred_username'].hasError('required')">
              {{ 'FORM_ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['preferred_username'].hasError('maxlength')">
              {{ 'FORM_ERROR_USER_CODE_MAX_LENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['preferred_username'].hasError('pattern')">
              {{ 'FORM_ERROR_ALPHANUMERIC_PATTERN' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['preferred_username'].hasError('notUnique')">
              {{ 'MESSAGE_ERROR_CODE_ALREADY_EXISTS' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="'NAME' | translate" formControlName="name" required>
            <mat-error *ngIf="form.controls['name'].hasError('required')">
              {{ 'FORM_ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['name'].hasError('maxlength')">
              {{ 'FORM_ERROR_USER_NAME_MAX_LENGTH' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="'EMAIL_ADDRESS' | translate" formControlName="email" required>
            <mat-error *ngIf="form.controls['email'].hasError('required')">
              {{ 'FORM_ERROR_REQUIRED_FIELD' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('maxlength')">
              {{ 'FORM_ERROR_EMAIL_MAX_LENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('email')">
              {{ 'FORM_ERROR_VALID_EMAIL' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['email'].hasError('notUnique')">
              {{ 'MESSAGE_ERROR_EMAIL_ALREADY_EXISTS' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-form-field>
            <input matInput [placeholder]="'IMEI' | translate" formControlName="imei">
            <mat-error *ngIf="form.controls['imei'].hasError('maxlength')">
              {{ 'FORM_ERROR_IMEI_MAX_LENGTH' | translate }}
            </mat-error>
            <mat-error *ngIf="form.controls['imei'].hasError('pattern')">
              {{ 'FORM_ERROR_NUMERIC_PATTERN' | translate }}
            </mat-error>
          </mat-form-field>

          <mat-checkbox formControlName="status" *ngIf="selectedData.id">{{ 'STATUS' | translate }}</mat-checkbox>
        </div>
      </div>
    </div>
  </div>
</form>