<div fxLayout="row" fxLayoutAlign="center center">
    <mat-card
    class="margin-25 padding-25 mat-elevation-z5"
    fxFlex="700px">
      
    <form [formGroup]="settingsForm" 
      fxLayout="column" 
      (ngSubmit)="settingsForm.valid && onSubmit(settingsForm.value)" 
      autocomplete="off" 
      autocorrect="off"
      fxLayoutGap="20px"
      novalidate>
    
      <h3 class="mat-title">{{ 'ACCOUNT_SETTINGS_GENERAL' | translate }}</h3>
      <mat-form-field>
        <mat-select placeholder = "{{'LANGUAGE' | translate}}" formControlName="language" >
          <mat-option *ngFor="let lang of languages" [value]="lang.value">
            {{lang.name}}
          </mat-option>
        </mat-select> 
      </mat-form-field>
      
      <mat-divider [inset]=true></mat-divider>
      
      <h3 class="mat-title">{{ 'ACCOUNT_SETTINGS_OTHER' | translate }}</h3>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="mat-body">Setting 1</div>
          <div class="mat-caption">Setting 1 Description</div>
        </div>
        <mat-slide-toggle color="primary" formControlName="setting1">
        </mat-slide-toggle>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="mat-body">Setting 2</div>
        </div>
        <mat-slide-toggle color="accent" formControlName="setting2">
        </mat-slide-toggle>
      </div>

      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div>
          <div class="mat-body">Setting 3</div>
          <div class="mat-caption">Setting 3 Description</div>
        </div>
        <mat-slide-toggle color="warn" formControlName="setting3">
        </mat-slide-toggle>
      </div>
      
      <button [disabled]="isSubmitting" color="primary" mat-raised-button type="submit">{{ (isSubmitting ? 'SAVING' : 'SAVE') | translate }}</button>
    </form>
    
  </mat-card>

</div>